.parent {
  display: grid;
  grid-template-columns: 115px 201px repeat(3, 175px) 105px;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 1 / 3 / 4; }
  .div3 { grid-area: 1 / 4 / 2 / 5; }
  .div4 { grid-area: 1 / 4 / 3 / 5; }
  .div5 { grid-area: 1 / 5 / 2 / 6; }
  .div6 { grid-area: 2 / 5 / 4 / 6; }
  .div7 { grid-area: 1 / 6 / 6 / 7; }
  .div8 { grid-area: 3 / 2 / 4 / 3; }
  .div9 { grid-area: 4 / 2 / 5 / 3; }
  .div10 { grid-area: 5 / 2 / 6 / 3; }
  .div11 { grid-area: 3 / 3 / 4 / 5; }
  .div12 { grid-area: 4 / 3 / 6 / 6; }
  .div13 { grid-area: 3 / 1 / 6 / 2; }

// .card-title-city-show h1 {
//   font-size: 50px;
// }

// .icon-city-show {
//   margin-top: 10px;
//   margin-bottom: 25px;
//   border-radius: 10px;
//   height: 70px;
//   width: 200px;
//   border: solid 1px grey;
//   background-color: rgb(247, 244, 244);
//   justify-content: center;
//   align-items: center;
// }
// .photos-city-show {
//   display: flex;
//   height: 400px;
//   background-position: center;
//   object-fit: cover;
//   border-radius: 50px 20px;
// }

// .main-img-show {
//   background-position: center;
//   border-radius: 10px 0 0 10px;
//   width: 750px;
// }
// .photos-city-show2 {
  
//   height: 400px;
//   width: 49%;
// }
// .img1 {
//   background-position: center;
//   height: 49%;
//   width: 100%;
//   border-radius: 0 10px 0 0;
// }
// .img2 {
//   background-position: center;
//   height: 49%;
//   width: 100%;
//   border-radius: 0 0 10px 0;
// }
// .city-show-btn {
//   display: block;
//   margin: 25px auto;
// }
// .city-show-btn :hover {
//   // color: red;
// }