.background-search{
  height: 90vh;
  background-image: asset-url('map.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -32px;

}
.search-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 60px;

 .progress {
  box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
  background-color:white;
  width: 60%;
  margin: 0 auto;
  opacity:.7;
  border-radius:50px;
 }

 .progress-bar {
   width:100%;
   background-color: #6AC05C;

 }

 .progress-content {
   display:flex;
   justify-content:space-around;
 }

 h2{
  margin-top:40px; margin-bottom:30px;
 }

 label {
   width: 100%;
   font-size: 1rem;
 }

 img {
    margin: 0 auto;
 }


 .card-input-element+.card {
   background: transparent !important;
   border: none !important;
   border-radius: 50px !important;
   color: #00296B;
   box-shadow: none;
   border-radius: 4px;
   transition:.5s;
   height: 280px;
   padding: 16px;
   font-size: 18px;
   line-height: 32px;
 }

  .form--pictogram--progress {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-color: #F5F8FA;
    border: 1px solid #CBD5E1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    box-shadow:0px 2px 20px rgba(0,0,0,0.15);
    transition:1s;
  }

  .form--pictogram--active {
    cursor: pointer;
    box-shadow:0px 2px 30px rgba(0,0,0,0.15);
    transition:1s;
    transform: rotate(360deg);
    transition-timing-function: cubic-bezier(.24, .69, 1, .39);
  }

 .form--pictogram {
  padding: 15px;
   margin: 0 auto;
   width: 150px;
   height: 150px;
   background-color: #F5F8FA;
   border: 1px solid #CBD5E1;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 24px;
   font-size: 40px;
   box-shadow:0px 2px 20px rgba(0,0,0,0.15);
   transition:1.3s;
 }

  .form--pictogram:hover{
    cursor: pointer;
    box-shadow:0px 2px 30px rgba(0,0,0,0.15);
    transition:1.3s;
    transform: rotate(360deg);
    transition-timing-function: cubic-bezier(.22,.68,0,1.41);
 }



 /* Quand la card est selectionée */
 .card-input-element:checked+.card {
   border: 2px solid tomato;
   -webkit-transition: border .3s;
   -o-transition: border .3s;
   transition: border .3s;
   color:tomato;
 }

 .hidden {
   display:none;
   opacity:0;
   transition:1s;
 }
}

.card-body {
  p {
    padding: 16px 20px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    font-size: 16px;
    opacity: .8;
    font-weight: 400;
    line-height: 1.4;
  }

}



