.parent-city-show {
  display: grid;
  grid-template-columns: 14% 17% 18% 18% 16% 12%;
  grid-template-rows: repeat(5, 120px);
  grid-column-gap: 1%;
  grid-row-gap: 20px;
  margin: 40px auto 64px;
  width: 95%;
  
  .photo1 { 
    grid-area: 1 / 1 / 3 / 4; 
    img {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
  }
  .picto-argent {
    grid-area: 1 / 4 / 3 / 5;
    background-color: $blue;
    color: white;
  }
  .picto-meteo {
    grid-area: 1 / 5 / 2 / 6;
    font-size: 30px;
   }
  .photo2 { grid-area: 2 / 5 / 4 / 6; 
    img {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
  }
  .photo3 { grid-area: 1 / 6 / 6 / 7;
    img {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
  }
  .pois { 
    grid-area: 3 / 1 / 6 / 2;

    a:hover {
      text-decoration: none;
    }
  }

  .picto-environement { grid-area: 3 / 2 / 4 / 3;
    background-color: #99d5c9;
    color: black;
  }

  .city-name { 
    grid-area: 3 / 3 / 4 / 5;
    background-color: $blue;
    color: white;
    
    :hover {
      text-decoration: none;
      // text-transform: full-width;
    }
    h1 {
      color: white;
      font-size: 50px;

    }
  }
  .photo4 { grid-area: 4 / 2 / 5 / 3;
    img {
      height: 163%;
      width: 100%;
      display: block;
      background-size: cover;
    }
  }

  .city-description { grid-area: 4 / 3 / 6 / 6;
    font-size: 18px;
  }
  .my-poi-cards {
    height: 122px;
    background-size: cover;
    background-position: center;
    color: white;
    // display: flex;
    // align-items: flex-end;
    transition: transform 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;


    h4 {
      margin: 0;
      font-size: 1.1rem;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow:lightgrey 0px 0px 8px 0px, lightgrey 0px 20px 30px 0px;
      transition: transform 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
    }
  }
  .my-poi-info {
    padding-top: 2rem;
    padding-left: auto
  }
  .city-show-btn { grid-area: 5 / 2 / 6 / 3;
    font-size: 17.5px;
    font-weight: bolder;
    word-wrap: normal;
    height: 50px;
    width: 70%;
    margin-top: 70px;
    margin-left: 40px;
  }
  .favorite-city {
    margin-left: 740px;
    padding-left: 15px;
    padding-top: 12px;
    width: 120px;
    height: 50px;

    a:hover {
      text-decoration: none;
    }
  }

}
