.container-favorite-pois {
  padding: 70px;
  background-color: $light-blue;
}

.favorite-pois-infos {
  padding-top: 70px;
  // position: relative;
}

.back-to-profile-button {
  float: right;
  padding-bottom: 40px;
  // position: absolute;
  // text-align: right;
}


// .map {
//   display: flex;
//   justify-content: center;
// }
