// Specific CSS for your home-page
.homepage {
  width: 100vw;

  .container {

    text-align: center;
  }
  .banner {
    height: 720px;
    background-size: cover;
    background-position: center;
  }

  .banner h1 {

    padding-top: 4em;
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.43);
    // line-height: 82.03%;
    // /* or 52px */

    // // display: flex;
    align-items: center;
    text-align: center;


    color: #FFFAFA;
  }

  .banner p {
    // position: absolute;
    // width: 716px;
    // height: 96px;
    // left: calc(50% - 716px/2 + 19px);
    // top: 368px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.62%;
    // /* or 34px */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.43);
  }

  .banner .btn-primary {
    text-align :center;
    align-items: center;
  }

  .btn-home{
    margin-top: 30px;
  }

  .city-home-page {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #00296B;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-top: 40px;
  }

  .city-home-page p {
    font-size: 18px;
  }

  .cards-city-home {
   padding: 6px;
   display: flex;
   justify-content: center;

   gap: 50px;

  }

  .card-city-home {
   height: 400px;
   width: 300px;
   position: relative;
   overflow:hidden;
}

  .card-image-homepage {
    height: 300px;
    width: 100%;
    background-position: center;
    border-radius: 5px;
    // object-fit:cover;
    // transition:.8s;
  }

  .card-image-homepage:hover{
    // transform:scale(1.1);
    // transition:.8s;
    cursor:pointer;
  }

  .card-infos {
    position: absolute;
    bottom: 0;
    text-align: left;
  }

  .title {
    margin-left: 228px;
  }

  .comments {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 10px;

  }
  .comment {
    margin-top: 50px;
    text-align: center;
  }

  .fa-circle {
    color: #00296B
  }

}


