.details_city {

  display: flex;
  text-align: center;
  border-radius: 3px;
  justify-content: space-between;
}

.details_city img{


}


.details_city, .environment, .activite, .price_range, .meteo {
  width:50px;
  height:50px;
  background-color:rgba(255,255,255,0.17);
  padding:12px;
  border-radius:50%;
}
