.login {

  padding-top: 60px;
  padding-bottom: 160px;

   h2{
    font-size: 40px;
    text-align: center;
    align-content: center;
   }

   .btn-login {
    background-color: #00296B;
    text-align: center;
      input {
      color: white;
      }
   }
}
