.homepage_show {
  width: 100vw;
  padding-bottom: 30px;

  .banner {
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 80px;

    }

 .infos-pois {
    padding-top: 30px;
  }

  .banner  p {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    color: #FFFFFF;
  }

  .banner h1 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.43);
    align-items: left;
    text-align: left;
    color: #FFFAFA;
  }

  .description_poi {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .description_poi p {
    width: 60%;
  }

  .favorite_pois {
    display :flex
  }

  .rating_poi {
    display: flex;
  }



  .cards_reviews {
    margin-top: 30px;
    // padding: 9px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .cards_review {
    height: 330px;
    width: 400px;
    text-align: center;
    border-style: groove;
    border-radius: 6px;
    opacity: 100%;
    box-shadow: 10px 5px 5px #f0efeb;
  }

  .cards_review p {
    font-size: 15px;
  }

  .btn-heart {
    color: red;
  }

  .modal-body {
    justify-content: center;
  }

  #titre{
    margin-left: 83px;
    width: 300px;
  }

  #notes{
    margin-left: 73px;
    width: 300px;
  }

   #description{
    margin-left: 35px;
    height: 150px;
    width: 300px;
  }

  .modal-header {
    text-align: center;
    justify-content: center;
  }

}

  .favorite_pois .unlike {
    color: white;
  }

  .favorite_pois .unlike:hover {
    color: red;
  }

  .favorite_pois a {
    color: red !important;
  }
