.parent-city-pois {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height:100vh;
  width:100%;
  padding:40px;
  background-color: $light-blue;
  padding-top: 65px;
}

.map {
  grid-area: 3 / 3 / 7 / 6;
  margin-top: 50px;


    position: sticky;
    top: 150px;
    #map {
      border-radius: 10px;
    }

}

.restaurants {
  grid-area: 3 / 1 / 7 / 3;
  margin-top: 20px;
  // height: 120px;
  // color: white;
  z-index: 0;
  // overflow-y: scroll;
    h4 {
      margin-bottom: 10px;
    }
    h5 {
      font-size:14px;
      color:$blue;
    }
}

.restaurant {
  margin-bottom: 12px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  border-radius:10px;
  background-color:white;
  padding:12px;
  img {
    width:70px;
    height:70px;
    object-fit:cover;
    background-radius:10px 0px 0px 10px;
  }
  .restaurant-content {
    margin-left:16px;
    width: 100%;
  }
  p {
  font-size: 13px;
  opacity:.6;
  }
}

.restaurant-title {
  // display: flex;
  // justify-content: space-between;
  // position: relative;
  // z-index: 10000;
  // margin-left:16px;
  font-size:12px;


}

.activities {
  // overflow-y: scroll;
  grid-area: 4 / 6 / 7 / 8;
  z-index: 0;
  background-color: $light-blue;
  h5 {
    color: white;
  }
}
.activities-container {
  flex-wrap:wrap;
}

.activity {
  // overflow-y: scroll;
  // height: 200px;
  // color: white;
  // padding: 30px;
  // margin-bottom: 20px;
  // border-radius: 10px;
  background-size: cover;
  // position: relative;
  // z-index: 9000;
  margin-right: 12px;
  width: calc(50% - 12px);
  margin-bottom:12px;
  height:200px;
  h5 { font-size:16px; }
  p { font-size: 13px;}
  color:white;
  border-radius: 10px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  .activity-content {
    margin: 0 20px;
    margin-top: 35%;
  }
}

.activity-title {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10000;
}

.share-button {
  grid-area: 3 / 6 / 4 / 8;
  display: flex;
  align-items:center;
  justify-content:center;
  padding-top: 50px;
    .btn-primary {
     width: 100%;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
    }
}

.city-name {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1513E;
  color: white;
  border-radius: 6px;
  h2 {
    font-size:1.25rem;
  }
    p {
    font-family: Inter;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 6px;
    opacity: 0.5;
    text-transform: uppercase;
  }
}

.dynamic-pictos {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 0px;
}

.unmissables {
  grid-area: 1 / 3 / 3 / 8;
  z-index:0;
  // overflow-y: scroll;

}

.unmissables-container {
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  height: calc(100% - 27px);
}

.unmissable {
  min-width: 310px;
  height: 100%;
  margin-right: 16px;
  color: white;
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
  background-size: cover;
  position: relative;
  // z-index: 9000;
    h4 {
      margin-bottom: 10px;
    }
    h5 {
      color: white;
      margin-bottom:3px;
    }
    p {
      opacity:.6;
      font-size:13px;
    }
  }

.unmissable-title {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10000;
}

.parent-city-pois h4 {
  font-family: Inter;
  font-size: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #010101;
  opacity: 0.7;
}
