.parent-city-pois {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height:100vh;
  width:100%;
  padding:40px;
}

.map {
  grid-area: 3 / 3 / 7 / 6;
}

.restaurants {
  grid-area: 3 / 1 / 7 / 3;
  background-color: $light-blue;
  padding: 20px;
}

.restaurant {
  height: 200px;
  color: white;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
}

.activities {
  grid-area: 3 / 6 / 7 / 8;
  background-color: $light-blue;
  padding: 20px;
}

.activity {
  height: 200px;
  color: white;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.activity-title {
  display: flex;
  justify-content: space-between;
}

// .share-button {
//   display: flex;
//   align-items:center;
//   justify-content:center;
//   // padding: 20px;
// }

.city-name {
  grid-area: 1 / 1 / 3 / 3;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  background-color: $light-blue;
}

.unmissables {
  grid-area: 1 / 3 / 3 / 8;
  background-color: $light-blue;
  padding: 20px;
}

.unmissables-container {
  display: flex;
  height: 80%;
}

.unmissable {
  margin-right: 20px;
  background-color: $light-blue;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.unmissable-title {
  display: flex;
  justify-content: space-between;
}

.unmissables p {
  font-size: 13px;
}

// .restaurants p {
//   font-size: 13px;
// }

// .activities p {
//   font-size: 13px;
// }
