<!-- Homepage -->
<div class="homepage background-light">
  <!-- BANNER -->
  <div class="banner" style="background-image: url('<%= image_path("home.png") %>');">
    <!-- CONTAINER -->
    <div class="container">
      <h1>Horizon</h1>
      <p>Les vacances approchent et tu ne sais pas où partir ? <br>
          Horizon t’aide à trouver la destination de tes rêves en quelques clics </p>
        <div class="btn-home">
        <%= link_to 'C\'est parti !', search_cities_path, class: "btn-primary" %>
        </div>
    </div>
  </div>

  <!-- TEXT -->
  <div class="city-home-page">
    <h2> Les dernières idées de voyages </h2>
  </div>

  <!-- CARD CONTAINER -->


  <div class="cards-city-home">
    <!-- CARD -->
    <div class="card-city-home">
      <div class="card-image-homepage" style="background-image: url(https://images.unsplash.com/photo-1555958493-1380d49ac1ef?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8YnVkYXBlc3R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">
        <div class="card-infos">
          <h5>Budapest</h5>
          <p>La perle du Danube</p>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="card-city-home">
      <div class="card-image-homepage" style="background-image: url(https://images.unsplash.com/photo-1576244348464-c7d393b6dfc0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzB8fG1hcnNlaWxsZXxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=800&q=60)">
        <div class="card-infos">
          <h5>Marseille</h5>
          <p>La citée phocéenne</p>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="card-city-home">
      <div class="card-image-homepage" style="background-image: url(https://images.unsplash.com/photo-1501927023255-9063be98970c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlzYm9ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">
        <div class="card-infos">
          <h5>Lisbonne</h5>
          <p>La cité aux milles couleurs</p>
        </div>
      </div>
    </div>
  </div>

  <div class="comments">
    <div class="comment">
        <p>“Grâce à horizon, j’ai trouvé à la dernière minute la destination idéale pour mes vacances. Je recommande  à 100% !”</p>
        <i class="fas fa-circle fa-2x"></i>
        <p> Léa, Product Owner chez Stuart</p>
    </div>
  </div>
</div>


