.card-large {
height: 440px;
width: 280px;
background-color: red;
position: relative;
border-radius: 10px;
box-shadow: 0 4px 34px rgba(0,0,0,0.17);
background: linear-gradient(360deg, rgba(39, 76, 119, 0.74) -0.45%, rgba(255, 255, 255, 0) 97.73%), url(image.png);
filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.17));
  h3 {
    //font-family: "lora";
    font-size: 40px;
    color: $white;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    color: $white;
  }
}

.content {
  position: absolute;
  bottom: 0;
  text-align: left;
}

.card-city-home {
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
  // justify-content: space-evenly;
  // display: flex;
}


