/*card result 3 cities*/
.card-large {
height: 440px;
width: 280px;
background-color: red;
position: relative;
border-radius: 10px;
box-shadow: 0 4px 34px rgba(0,0,0,0.17);
background: linear-gradient(360deg, rgba(39, 76, 119, 0.74) -0.45%, rgba(255, 255, 255, 0) 97.73%), url(image.png);
filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.17));
  h3 {
    //font-family: "lora";
    font-size: 40px;
    color: $white;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    color: $white;
  }
}

.content {
  position: absolute;
  bottom: 0;
  text-align: left;
}

/*card poi*/

.card-poi {
  margin: 15px 0;
  background-color: white;
  box-shadow: 0 4px 34px rgba(0,0,0,0.07);
  border-radius: 10px;
  border: 1px solid #B3BFD3;

}

.card-image-poi {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.card-infos-poi {
  margin-left: 15px;
}


