body {
  padding-top: 40px;
}

.navbar-lewagon {
  // justify-content: space-between;
  background: white;
  z-index: 100;
  padding: 0 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  color: $green;
  font-size: 2em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-item {
  object-fit: cover;
}

#navbarSupportedContent {
  justify-content: right;
}
// Search bar

.left-navbar {
  display:flex;
  justify-content: left;
}

.mr-auto{
  padding-left: 720px;
}

body{
  background: #f2f2f2;
}

.search {
  width: 118%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border-right: none;
  padding: 10px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 13px !important; border: 1px solid #B3BFD3 !important;
}

.searchTerm:focus{
  color: $blue;
}

.search-bar {
  margin-right: 36px;
}

.search-bar #search-input {
  border: 1px solid #6AC05B;
  border-right: none;
  padding: 1em;
}

.searchButton {
  width: 37px;
  height: 30px;
  border: 1px solid $blue;
  background: #6AC05B;
  display: flex;
  align-content: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: 1px solid transparent !important;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.1em;

  i {
    font-size: 0.7em;
  }
}
.container-search {
  width:100%;
}

// .fa .fa-search {
// padding-top: 5px;
// }
.navbar-nav a{
font-size:15px;
}
.dropdown-toggle::after {
margin-right:8px;
}

