<div class="background-page p-5 background-light">

  <div class="py-4 px-4">

  </div>

  <div class="container text-center">

    <h2 class="my-3">Voici tes 3 destinations idéales !</h2>

    <div class="cards d-flex justify-content-between pt-4">
      <div class="card-large p-4">
        <div class="content">
          <h3>Lisbonne</h3>
          <p>Découvre cette ville incroyable</p>
        </div>
      </div>

      <div class="card-large p-4">
        <div class="content">
          <h3>Lisbonne</h3>
          <p>Découvre cette ville incroyable</p>
        </div>
      </div>

      <div class="card-large p-4">
        <div class="content">
          <h3>Lisbonne</h3>
          <p>Découvre cette ville incroyable</p>
        </div>
      </div>

    </div>

    <p class="mt-5 mb-4">Tu n'as pas trouvé ton bonheur ?</p>
    <%= link_to "C'est reparti pour un tour", root_path, class: "btn-primary" %>
  </div>
</div>


