<div class="search-container text-center mt-5">
  <div class="progress-bar">

  </div>
  <form action="">
    <div class="step-1 mt-5">
      <h2> Coté météo t'es plutôt quoi? </h2>
        <div class="row">
          <div class="col-4">
            <label for="chaud">
              <input type="radio" name="demo" class="card-input-element d-none" id="chaud">
                <div class="card card-body bg-light text-center">
                  <i class="fas fa-umbrella-beach fa-3x form--pictogram"></i>
                  Je veux du soleil!
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="modéré">
              <input type="radio" name="demo" class="card-input-element d-none" id="modéré">
                <div class="card card-body bg-light text-center">
                  <i class="fas fa-thermometer-half fa-3x form--pictogram"></i>
                  Ni chaud ni froid
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="froid">
              <input type="radio" name="demo" class="card-input-element d-none" id="froid">
                <div class="card card-body bg-light text-center">
                  <i class="fas fa-snowman fa-3x form--pictogram"></i>
                  Je suis pas frileux!
                </div>
            </label>
          </div>
        </div>
      </div>
    <div class="step-2 mt-5">
      <h2> On va jusqu'où? </h2>
        <div class="row">
          <div class="col-4">
            <label for="proche">
              <input type="radio" name="demo" class="card-input-element d-none" id="proche">
                <div class="card card-body bg-light text-center">
                  <i class="fas fa-map-pin fa-3x form--pictogram"></i>
                  Je suis casanier, pas trop loin!
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="France">
              <input type="radio" name="demo" class="card-input-element d-none" id="France">
                <div class="card card-body bg-light text-center">
                  <i class="far fa-flag fa-3x form--pictogram"></i>
                  On reste dans le plus beau des pays!
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="Europe">
              <input type="radio" name="demo" class="card-input-element d-none" id="Europe">
                <div class="card card-body bg-light text-center">
                  <i class="fas fa-globe-europe fa-3x form--pictogram"></i>
                  Vers l'infini et l'au delà!
                </div>
            </label>
          </div>
        </div>
      </div>
    <div class="step-3 mt-5">
      <h2> Dans quel environnement? </h2>
        <div class="row">
          <div class="col-4">
            <label for="plage">
              <input type="radio" name="demo" class="card-input-element d-none" id="plage">
                <div class="card card-body bg-light text-center">
                   <i class="fas fa-water fa-3x form--pictogram"></i>
                  Coquillages et crustacés
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="nature">
              <input type="radio" name="demo" class="card-input-element d-none" id="nature">
                <div class="card card-body bg-light text-center">
                   <i class="fas fa-tree fa-3x form--pictogram"></i>
                  Je veux aussi des grands espaces!
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="divertir">
              <input type="radio" name="demo" class="card-input-element d-none" id="ville">
                <div class="card card-body bg-light text-center">
                   <i class="fas fa-city fa-3x form--pictogram"></i>
                  L'effervence des grandes mégalopoles!
                </div>
            </label>
          </div>
        </div>
      </div>
    <div class="step-4 mt-5">
      <h2> Ce que tu préfères faire pendant les vacances... </h2>
        <div class="row">
          <div class="col-4">
            <label for="défouler">
              <input type="radio" name="demo" class="card-input-element d-none" id="défouler">
                <div class="card card-body bg-light text-center">
                  <i class="fas fa-running fa-3x form--pictogram"></i>
                  Te dépenser
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="détendre">
              <input type="radio" name="demo" class="card-input-element d-none" id="détendre">
                <div class="card card-body bg-light text-center">
                   <i class="fas fa-spa fa-3x form--pictogram"></i>
                  Te détendre
                </div>
            </label>
          </div>

        </div>

        <div class="row">

          <div class="col-4">
            <label for="culture">
              <input type="radio" name="demo" class="card-input-element d-none" id="culture">
                <div class="card card-body bg-light text-center">
                   <i class="fas fa-theater-masks fa-3x form--pictogram"></i>
                  Te cultiver
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="divertir">
              <input type="radio" name="demo" class="card-input-element d-none" id="divertir">
                <div class="card card-body bg-light text-center">
                  <i class="fas fa-glass-cheers fa-3x form--pictogram"></i>
                  Te divertir
                </div>
            </label>
          </div>

        </div>
      </div>
    <div class="step-5 mt-5">
      <h2> Une idée du budget ? </h2>
        <div class="row">
          <div class="col-4">
            <label for="economique">
              <input type="radio" name="demo" class="card-input-element d-none" id="economique">
                <div class="card card-body bg-light text-center">
                  <i class="fas fa-euro-sign fa-3x form--pictogram"></i>
                  Vive les minis prix!
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="normal">
              <input type="radio" name="demo" class="card-input-element d-none" id="normal">
                <div class="card card-body bg-light text-center">
                  <div class="d-flex">
                    <i class="fas fa-euro-sign fa-3x form--pictogram"></i><i class="fas fa-euro-sign fa-3x form--pictogram"></i>
                  </div>
                  Je fais attention, sans me priver
                </div>
            </label>
          </div>

          <div class="col-4">
            <label for="normal">
              <input type="radio" name="demo" class="card-input-element d-none" id="normal">
                <div class="card card-body bg-light text-center">
                  <div class="d-flex">
                    <i class="fas fa-euro-sign fa-3x form--pictogram"></i><i class="fas fa-euro-sign fa-3x form--pictogram"></i><i class="fas fa-euro-sign fa-3x form--pictogram"></i>
                  </div>
                  Je fais attention, sans me priver
                </div>
            </label>
          </div>
        </div>
      </div>
  </form>
</div>





