
<div class="homepage background-light">
  <!-- BANNER -->
  <div class="banner" style="background-image: linear-gradient(352.72deg, rgba(39, 76, 119, 0.61) 41.07%, rgba(255, 255, 255, 0) 68.14%), url(    <%= cl_image_tag poi.photos.first.key, class: "card-image-poi-show" %>);">
    <!-- CONTAINER -->
    <% @pois.each do |poi| %>
    <div class="infos-pois">
      <p> <%@poi.category %></p>
      <h1> <%@poi.name %></h1>
    </div>
  </div>
  <% end %>
